AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

BEDROCK_MODEL_ID=
BEDROCK_TEMPERATURE=
BEDROCK_EMBEDDING_MODEL_ID=

BEDROCK_RERANK_MODEL=
BEDROCK_RERANK_REGION=
RERANK_TOP_N=

DYNAMODB_TABLE_NAME=

S3_BUCKET=

CHROMA_HOST=
CHROMA_PORT=
CHROMA_COLLECTION=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

APP_NAME=
APP_ENV=
APP_DEBUG=
APP_VERSION=
API_VERSION=
LLM_PROVIDER=
EMBEDDING_PROVIDER=
RETRIEVER_PROVIDER=
DOCSTORE_PROVIDER=
INGESTION_PROVIDER=
RERANKER_PROVIDER=
